* 

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.principal {
    height: 100vh;
    width: 100%;
    /* background-image: url(../img/Zoom\ Background\ -\ Planetas\ no\ Espaço.png); */
 background-color: #191919;
 background-image: url("../img/background.png");
 background-size: cover;
   
   
    

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 25px;
}
.portifolio{
    color: #ffff;
    font-size: 40px;
    font-weight: 500;

    
}

.portifolio span {
    color: #f9004d;

}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.55;

}
li a:hover {
    color: #f9004d;
    
}

.meu-nome {
    position: absolute;
    top: 40%;
    left: 8%;

}
h1 {
    color: white;
    font-size: 75px;
}

h1 span {
    color: #f9004d;
}

.meu-nome h3 {
    color: white;
    font-size: 25px;
}
section {
        display: flex;
        align-items: center;
        padding: 60px 2%;
        background-color: #191919;
        justify-content: center;
       gap: 2rem;
      padding: 10rem 2rem;
       
        
    }
section .imagem {
    height: 400px;
    width: 350px;
    border-radius: 100%;
    border: 2px solid #f9004d;
background-image: url("../img/Luizz.jpg");
background-size: 100%;
background-repeat: no-repeat;
background-position: center;


}

section div h2 {
    color: white;
    font-size: 30px;
}
section div button{

color: white;
    background: #f9004d;
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}
section div p {
    color: white;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 60px;
}
section div button:hover {
    background-color:  black;
    border: 3px solid #f9004d;
    transition: 0.55s;

}
 .maldita{
    width: 50%;
 }
   .projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;


   }
.projetos h2{
    color: white;
    font-size: 75px;
    text-align: center;

}
.card {
    background-color: #000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    margin-top: 20px;

}

.card img {
    height: 100px;
} 
.card h5 {
    color: white;
    font-size: 24px;

}

.card p {
    color: #f9004d;
    margin-top: 20px;
    margin-bottom: 40px ;

}
.card a {
    background-color: #f9004d;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;

}

.card a:hover {
    background-color: transparent;
    border: 2px solid;
}

.card-projetos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-around;
    margin-top: 100px;
}
footer {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
footer h5 {
    color: white ;
    font-size: 30px;
}
footer p {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 14px;

   
}
.social{
    display: flex;
    gap: 20px;
}
.social img{
    height: 24px;
    border-radius: 50%;

}
.social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;

}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5;
}
.link-menu{
    text-decoration: none;
    color: white;
}

h5 span {
    color: #f9004d;
}

section .imagem2{
    height: 300px;
    width: 350px;
    border-radius: 100%;
    border: 2px solid white;
background-image: url("../img/Eu.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 200px;
margin-top: 200px;
}
.maldita span {
    color: #f9004d;
}

.Diferenciada span {
    color: #f9004d;

}

.Diferenciada {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.carambolas {
    background-color: #191919;
    align-items: center;
    flex-direction: column;
    padding: 200px 200px;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}
.carambolas h3 {
    background-color: #191919;
    color: white;
    display: flex;
    align-items: center;
    height: 300px;
    padding: 100px 100px;
    padding-top: 50px;
   padding-bottom: 150px;
   background-size: cover;

 
}

.carambolas image{
    padding: 200px 200px;
}
.carambolas h2{

    color: white;
    padding: 100px 100px;
    padding-bottom: 120px;
}

.portifolio-maneiro{
    background-color: #191919;
    padding-bottom: 20px;
    display: flex;

}
/* Adicione esta classe para a animação de header */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 15px 30px;
    position: fixed;

    background: #191919;

    z-index: 2;
}
nav h2 {
    padding-left: 40px;
}

ul li{
    padding-left: 150px;
}


/* Seletor para o container principal Vue */
#app {
    text-align: center;
  
    padding: 20px;
    
    border-radius: 5px;
    background-color: #191919;
    
}

/* Estilo para a mensagem */
#app p {
    font-size: 18px;
    color: white;
}

/* Estilo para o botão */
#app button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo quando o cursor passa sobre o botão */
#app button:hover {
    background-color: #45a049;
}

.app{
    background-color: #191919;
}
